<template>
    <main class="py-4">
        <section class="ftco-section bg-light">
            <div class="container">
                <div class="row">
                    <property-item
                        v-for="property in properties"
                        :key="property.id"
                        :title="property.title"
                        :price="property.price"
                        :type="property.type"
                        :description="property.description"
                        :phone="property.phone"
                        :from_id="property.from_id"
                        :metro="property.metro"
                        :square="property.square"
                        :room="property.room"
                        :shower="property.shower"
                        :image="property.image"
                        :url="property.url"
                        :date="property.date"
                    ></property-item>
                </div>
                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            <a @click="getProperties" style="color: #26baee; cursor: pointer;">Загрузить еще</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</template>

<script>

    import PropertyItem from '../PropertyItem.vue'

    export default {
        name: "Home",
        components: {
            'property-item': PropertyItem
        },
        data() {
            return {
                properties: [],
                perPage: 12,
                currentPage: 0,
            }
        },
        methods: {
            getProperties() {
                this.$http.get('api/properties', {
                    params: {
                        perPage: this.perPage,
                        page: ++this.currentPage,
                    }
                }).then(response => {
                        if (response.data.items) {
                            console.log(response.data);
                            response.data.items.forEach(function (item, index) {
                                this.properties.push({
                                    id: item.id,
                                    title: 'Загаловок аренды',
                                    price: item.price ? item.price + ' ₽' : '',
                                    type: item.type,
                                    description: item.text,
                                    phone: item.phone,
                                    from_id: item.from_id,
                                    metro: item.metro,
                                    square: item.square ? item.square + ' м²' : '',
                                    image: item.image ? item.image.url : 'themes/royalestate-master/images/property-default.svg',
                                    room: 2,
                                    shower: 1,
                                    url: 'property?id=' + item.id,
                                    date: item.date,
                                });
                            }, this);
                        }
                    }
                ).catch(response => {
                        console.log('FAILURE!!', response);
                    }
                );
            },
        },
        mounted() {
            this.getProperties();
        }
    }
</script>

<style>

</style>
