<template>
    <main class="py-4">
        <section class="ftco-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 Properties-single mt-4 mb-5 ftco-animate">
                        <h2>{{property.title}}</h2>
                        <span v-if="property.type" class="status sale">{{property.type}}</span>
                        <h3>{{property.title}}</h3>
                        <span v-if="property.price" class="price">{{property.price}} ₽</span>
                        <a v-if="property.phone" :href="phoneUrl"> ☎ {{property.phone}}</a>
                        <p>
                            <a v-if="property.from_id" :href="ownerUrl" target="_blank">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                Написать собственнику
                            </a>
                        </p>
                        <p v-if="property.metro"> 🚇 {{property.metro}}</p>
                        <hr>
                        <p class="bottom-area d-flex">
                            <span class="float-left" v-if="property.date"> {{property.date}}</span>
                                <span><i v-if="property.square"
                                         class="flaticon-selection"></i> {{property.square}}</span>
                            <span class="ml-auto"><i class="flaticon-bathtub"></i> {{property.shower}}</span>
                            <span><i class="flaticon-bed"></i> {{property.room}}</span>
                        <p>{{property.text}}</p>
                    </div>
                    <div class="col-lg-12">
                        <gallery :images="images" :index="index" @close="index = null"></gallery>
                        <div
                            class="image"
                            v-for="(image, imageIndex) in images"
                            :key="imageIndex"
                            @click="index = imageIndex"
                            :style="{ backgroundImage: 'url(' + image + ')', width: '267px', height: '190px' }"
                        ></div>
                    </div>
                </div>
            </div>
        </section> <!-- .section -->
    </main>
</template>

<script>

    import VueGallery from 'vue-gallery';

    export default {
        name: "Property",
        components: {
            'gallery': VueGallery,
        },
        data() {
            return {
                property: {
                    id: this.$route.query.id,
                    text: '',
                    title: '',
                    price: '',
                    type: '',
                    phone: '',
                    from_id: '',
                    metro: '',
                    square: '',
                    attachments: [],
                    room: 2,
                    shower: 1,
                    date: '',
                },
                images: [],
                index: null
            }
        },
        methods: {
            getProperty() {
                this.$http.get('api/properties/' + this.property.id).then(response => {
                        if (response.data) {
                            console.log(response.data);
                            this.property = response.data;
                            if (this.property.attachments) {
                                this.property.attachments.forEach(function (item, index) {
                                    this.images.push(item.url);
                                }, this)
                            }
                        }
                    }
                ).catch(response => {
                        console.log('FAILURE!!', response);
                    }
                );
            },
        },
        mounted() {
            this.getProperty();
        },
        computed: {
            phoneUrl: function () {
                return 'tel:' + this.property.phone
            },
            ownerUrl: function () {
                return 'https://vk.com/im?sel=' + this.property.from_id
            },
        }
    }
</script>

<style>

    .image {
        float: left;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        border: 1px solid #ebebeb;
        margin: 5px;
    }

    .ftco-animated {
        z-index: -1;
    }

</style>
