<template>
    <div>
        <navbar></navbar>
        <router-view></router-view>
        <footer_></footer_>
    </div>
</template>

<script>

    import Navbar from './components/menus/Navbar.vue';
    import Footer from './components/Footer.vue';

    export default {
        name: 'app',
        components: {
            'navbar': Navbar,
            'footer_': Footer,
        }
    }
</script>

<style>

</style>
