    /*
    Flaticon icon font: Flaticon
    Creation date: 06/12/2018 02:49
    */

    @font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticon.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-pin:before { content: "\f100"; }
.flaticon-detective:before { content: "\f101"; }
.flaticon-house:before { content: "\f102"; }
.flaticon-purse:before { content: "\f103"; }
.flaticon-bed:before { content: "\f104"; }
.flaticon-bathtub:before { content: "\f105"; }
.flaticon-selection:before { content: "\f106"; }
    
    $font-Flaticon-pin: "\f100";
    $font-Flaticon-detective: "\f101";
    $font-Flaticon-house: "\f102";
    $font-Flaticon-purse: "\f103";
    $font-Flaticon-bed: "\f104";
    $font-Flaticon-bathtub: "\f105";
    $font-Flaticon-selection: "\f106";
