	/*
  	Flaticon icon font: Flaticon
  	Creation date: 06/12/2018 02:49
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticon.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-pin:before { content: "\f100"; }
.flaticon-detective:before { content: "\f101"; }
.flaticon-house:before { content: "\f102"; }
.flaticon-purse:before { content: "\f103"; }
.flaticon-bed:before { content: "\f104"; }
.flaticon-bathtub:before { content: "\f105"; }
.flaticon-selection:before { content: "\f106"; }
