<template>
    <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Снимухату</h2>
                        <p>
                            Lorem ipsum todo text.
                        </p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-vk"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-5">
                        <h2 class="ftco-heading-2">Buy</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Todo</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2"></h2>
                        <ul class="list-unstyled">
                            <li><a href="#" class="py-2 d-block">Todo</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Todo</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li>
                                    <span class="icon icon-map-marker"></span>
                                    <a href="https://goo.gl/maps/XNANYW5UYGwWSk149" target="_blank">
                                        <span class="text">
                                            пр. Маршала Блюхера, 7к2, Санкт-Петербург, 195197
                                        </span>
                                    </a>
                                </li>
                                <li><a href="#">
                                    <span class="icon icon-phone"></span><span class="text"> +(812) 999 99 99</span>
                                </a></li>
                                <li>
                                    <a href="#">
                                        <span class="icon icon-envelope"></span>
                                        <span class="text">info@yourdomain.com</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>Copyright &copy; {{year}} All rights reserved</p>
                </div>
            </div>
        </div>
    </footer>
</template>

<script>
    export default {
        name: "Footer",
        data() {
            return {
                year: new Date().getFullYear()
            }
        }
    }
</script>

<style scoped>

</style>
