<template>
    <div class="col-md-4">
        <div class="properties">
            <a :href="url"
               class="img img-2 d-flex justify-content-center align-items-center"
               :style="{'background-image':  backgroundImage}">
                <div class="icon d-flex justify-content-center align-items-center">
                    <span class="icon-search2"></span>
                </div>
            </a>
            <div class="text p-3">
                <span v-if="type" class="status sale">{{type}}</span>
                <div class="d-flex">
                    <div class="one">
                        <h3><a :href="url">{{title}}</a></h3>
                        <span v-if="date"> {{date}}</span>
                    </div>
                    <div class="two">
                        <span v-if="price" class="price">{{price}}</span>
                    </div>
                </div>
                <p>{{description.substring(0, 180)}}</p>
                <a v-if="phone" :href="phoneUrl"> ☎ {{phone}}</a>
                <p>
                    <a v-if="from_id" :href="ownerUrl" target="_blank">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>
                        Написать собственнику
                    </a>
                </p>
                <p v-if="metro"> 🚇 {{metro}}</p>
                <hr>
                <p class="bottom-area d-flex">
                    <span><i v-if="square" class="flaticon-selection"></i> {{square}}</span>
                    <span class="ml-auto"><i class="flaticon-bathtub"></i> {{shower}}</span>
                    <span><i class="flaticon-bed"></i> {{room}}</span>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "PropertyItem",
        props: [
            'title',
            'price',
            'type',
            'description',
            'square',
            'room',
            'shower',
            'image',
            'url',
            'phone',
            'metro',
            'from_id',
            'date',
        ],
        computed: {
            backgroundImage: function () {
                return this.image ? 'url(' + this.image + ')' : 'url(public/themes/royalestate-master/images/properties-6.jpg);';
            },
            phoneUrl: function () {
                return 'tel:' + this.phone
            },
            ownerUrl: function () {
                return 'https://vk.com/im?sel=' + this.from_id
            }
        }
    }
</script>

<style scoped>

</style>
