<template>
    <div>
        <top-menu></top-menu>

        <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
            <div class="container">
                <a class="navbar-brand" href="/">Сниму<span>хату</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                        aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="oi oi-menu"></span> Меню
                </button>

                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item" v-for="menu in menus" v-show="menu.isShow">
                            <a class="nav-link" :href="menu.link">{{menu.name}}</a>
                        </li>

                        <li :class="item.class" v-for="item in authorization" v-if="item.isShow">
                            <a :href="item.link" class="nav-link">
                                <span :class="item.icon"></span> {{item.name}}
                            </a>
                        </li>

                        <li :class="logoutLink.class" v-if="logoutLink.isShow">
                            <a :href="logoutLink.link" @click="logout()" class="nav-link">
                                <span :class="logoutLink.icon"></span> {{logoutLink.name}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</template>

<script>
    import TopMenu from './TopMenu.vue'

    export default {
        data() {
            return {
                menus: [
                    {
                        link: '/',
                        name: 'Главная',
                        isShow: true,
                    }
                ],
                authorization: [
                    {
                        link: '/login',
                        name: 'Войти',
                        isShow: !this.$auth.isAuthenticated(),
                        class: 'nav-item cta',
                        icon: 'icon-user',
                    },
                    {
                        link: '/register',
                        name: 'Зарегистрироваться',
                        isShow: !this.$auth.isAuthenticated(),
                        class: 'nav-item cta cta-colored',
                        icon: 'icon-pencil',
                    },
                ],
                logoutLink: {
                    link: '/logout',
                    name: 'Выйти',
                    isShow: this.$auth.isAuthenticated(),
                    class: 'nav-item cta cta-colored',
                    icon: 'icon-sign-out',
                },
            }
        },
        created() {
            this.setAuthenticatedUser();
        },
        methods: {
            logout() {
                this.$auth.destroy();
                window.location.href = '/login';
            },
            setAuthenticatedUser() {
                this.$http.get('api/user')
                    .then(response => {
                        this.$auth.setAuthenticatedUser(response.body);
                    })
                    .catch(error => console.log(error));
            }
        },
        components: {
            'top-menu': TopMenu
        }
    }
</script>

<stile>

</stile>
