<template>
    <div class="top">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col">
                    <p class="social d-flex">
                        <a href="#" v-for="social in socials"><span :class="social.icon"></span></a>
                    </p>
                </div>
                <div class="col d-flex justify-content-end">
                    <p class="num"><span class="icon-phone"></span> {{phone}}</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "TopMenu",
        data() {
            return {
                socials: [
                    {
                        icon: 'icon-vk',
                    },
                    {
                        icon: 'icon-facebook',
                    },
                    {
                        icon: 'icon-google',
                    },
                    {
                        icon: 'icon-twitter',
                    },
                ],
                phone: '(812) 999 99 99'
            }
        },
    }
</script>

<style>

</style>
